{% extends "base.html"%}
{% block content %}
<br>
<div class="container" align="center">
    <form  method="POST">
        {{form.hidden_tag()}}

        <div class="row form-group">
            <div class="col-6" >
        {{date_form.from_date.label}}
            </div>
            <div class="col-6">
        {{date_form.to_date.label}}
            </div>
        </div>


        <div class="row form-group">
            <div class="col-6" >
        {{date_form.from_date}}
            </div>
            <div class="col-6">
        {{date_form.to_date}}
            </div>
        </div>
        <div class="row">
            <div class="col-3" style="text-align: end;">
        {{date_form.weekends.label()}}
            </div>
            <div class="col-9" style="text-align: left;">
        {%for x in date_form.weekends%}
                {{x}}
                {{x.label()}}
                {% endfor %}

</div>
        </div>
        <div class="table table-borderless" align="center">
        <div class="row attire-add" align="center">
        <div class="col-6 form-group " >
            <label class="form-group" for="attires-0">Attires</label>
        </div>
            </div>

        {% for sub in form.attires%}
        <div class="row form-group attire-add" id="attire-add">
            <div class="col-6">
                {{sub.attire(class="form-control")}}<button class="btn btn-success attire-add " type="button"><span class="fas fa-plus"></span></button>
            </div>
        </div>
        {% endfor %}
        <div class="form-group">
            {{form.submit(class="btn btn-primary")}}
        </div>

    </form>
</div>
</div>


{% endblock %}