{% extends "base.html"%}
{% block content%}

<div class="index">
    <h1 class="h1 title-tag">You Are </h1>
<div class="row align-items-center">
    <div class="col-sm">
        <a href={{url_for('dress_print.male') }}><img src="/static/images/male1.png">
        <figcaption><h3 class="title-tag">Male</h3></figcaption></a>

        </div>
    <h1 class="h1 title-tag"> or  </h1>
    <div class="col-sm">
    <a href={{url_for('dress_print.female') }}><img src="/static/images/Female1.png">
    <figcaption><h3 class="title-tag">Female</h3></figcaption></a>


        </div>

</div>
</div>

{% endblock %}