{% extends "base.html"%}
{% block content%}
<br>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Cool!!</strong>We made your daily dress calendar!If many like this app we will add this to our <b>Google Calendar!!</b> As of now it is disabled.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<div class="container" align="center">
  <br>
<div class="alert alert-warning alert-dismissible fade show" style="background-color: #4578a4;color:black;font-style:italic" role="alert">
  <strong>Yippee!! This is your Schedule</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">

      </button>
    </div>

    <table class="table table-hover table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Day</th>
      <th scope="col">Dress</th>
    </tr>
  </thead>
  <tbody>
  {% for main in final_result %}
    {% for days in main %}
      {%if sex=="female"%}
    <tr>
      <th scope="row">{{days[0][1]}}</th>
      <td>{{days[0][0]}}</td>
      <td>{{days[1]}} </td>
    </tr>
  {% else %}
  <tr>
      <th scope="row">{{days[0][1]}}</th>
      <td>{{days[0][0]}}</td>
      <td>{{days[1][0]}} & {{days[1][1]}}</td>
    </tr>
  {% endif %}
  {% endfor %}
  {% endfor %}
  </tbody>
</table>
<a href="{{url_for('index')}}" class="btn btn-primary">Go to home</a>
<a href="{{url_for('google.login')}}" class="btn btn-primary disabled">Add to Google Calendar</a>
</div>




{% endblock %}