{% extends "base.html" %}
{% block content %}


<div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Not sure on your dress combo?</strong>  Just enter your dress details! I will give you combos to choose!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<div class="container" align="center">

    {% if flash_new %}
    <li>{{flash_new}}</li>
    {%endif%}

    {% if flash%}
    {% for mess,m in flash.items() %}
        {% for message_keys,message_values in m[0].items() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{message_keys | capitalize }}!</strong> {{message_values[0]}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
        {% endfor %}

    {% endif %}
    <div class="row form-group">
            <div class="col-6">
                <label class="form-group" for="attires-0-shirt">Shirt</label>
            </div>
            <div class="col-6">
                <label class="form-group" for="attires-0-pants">Pants</label>
            </div>
        </div>


	<form class="form-group" method="POST" name="theform">
        {{form.hidden_tag()}}
        {% for sub in form.attires%}

            <table class="table table-borderless">
			 <div class="row">
			   <div class="col-6">
                   <div class="row">
                       <div class="col-3" >
                {{sub.shirt.label()}}
            </div>
            <div class="col-3" >
                {{sub.shirt_pattern.label()}}
            </div>
            <div class="col-3">
                {{sub.shirt_brand.label()}}
            </div>

                   </div>

        <div class="row form-group" id="shirt-add">
            <div class="col-3" >
                {{sub.shirt(class="form-control",onkeyup="checkform()")}}
            </div>
            <div class="col-3" >
                {{sub.shirt_pattern(class="form-control",onkeyup="checkform()")}}
            </div>
            <div class="col-3">
                {{sub.shirt_brand(class="form-control",onkeyup="checkform()")}}
            </div>
            <div  >
                <button class="btn btn-success shirt-add " type="button"><span class="fas fa-plus"></span></button>
            </div>
			</div>
			</div>
			 <div class="col-6">
                 <div class="row">
                       <div class="col-3" >
                {{sub.pants.label()}}
            </div>
            <div class="col-3" >
                {{sub.pants_pattern.label()}}
            </div>
            <div class="col-3">
                {{sub.pants_brand.label()}}
            </div>

                   </div>
			 <div class="row form-group" id="pants-add">
            <div class="col-3" >
                {{sub.pants(class="form-control",onkeyup="checkform()")}}
            </div>
            <div class="col-3" >
                {{sub.pants_pattern(class="form-control",onkeyup="checkform()")}}
            </div>
            <div class="col-3" >
                {{sub.pants_brand(class="form-control",onkeyup="checkform()")}}
            </div>
            <div >
            <button class="btn btn-success pant-add " type="button">
                <span class="fas fa-plus"></span>
            </button>
            </div>
        </div>
		</div>
		</div>
		</table>
        {% endfor %}
        <div class="form-group">
            {{form.submit(class="btn btn-primary",id="submitbutton")}}
            <!--{{form.submit(class="btn btn-primary",**{'data-toggle':'modal','data-target':"#exampleModal",'type':'submit'})}}-->
        </div>
    </form>




</div>
{% endblock %}