{% extends "base.html" %}
{% block content %}
<br>
<div class="container" align="center">
    <form class="form-group" method="POST">
        {{form.hidden_tag()}}
        {% for sub in form.attires%}
        <div class="row form-group">
            <div class="col-6">
                {{sub.shirt.label(class="form-group")}}
            </div>
            <div class="col-6">
                {{sub.pants.label(class="form-group")}}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-6" id="shirt-add">
                {{sub.shirt(class="form-control")}}<button class="btn btn-success shirt-add " type="button"><span class="fas fa-plus"></span></button>
            </div>
            <div class="col-6" id="pants-add">
                {{sub.pants(class="form-control")}}<button class="btn btn-success pant-add " type="button">
                <span class="fas fa-plus"></span>
            </button>
            </div>
        </div>
        {% endfor %}
        <div class="form-group">
            {{form.submit(class="btn btn-primary",**{'data-toggle':'modal','data-target':"#exampleModal",'type':'submit'})}}
        </div>
    </form>


<!-- Modal -->
    <p>{{dress}}</p>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}