{% extends "base.html"%}
{% block content %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Yo Man!!</strong>These are the available attire combos! You don't like some? No worries! Just tick and remove those combos before we create our schedule.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% if flash%}
    {% for mess,m in flash.items() %}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{"Oho" | capitalize }}!</strong> {{m[0]}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

        {% endfor %}

    {% endif %}
<div class="container" align="center" style="border: inset;">

    <form  method="POST" name="theform">
        {{form.hidden_tag()}}
        <div class="row">
             <div class="col-6">
        <b>{{form.from_date.label()}}
                </div>
            <div class="col-6">
        {{form.to_date.label()}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
        {{form.from_date}}
                </div>
            <div class="col-6">
        {{form.to_date}}
            </div>
        </div>
        <div class="row">
            <div class="col-3" style="text-align: end;">
        {{form.weekends.label()}}
            </div>
            <div class="col-9" style="text-align: left;">
        {%for x in form.weekends%}
                {{x}}
                {{x.label()}}

                {% endfor %}

</div>
        </div>
<div class="row">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Remove</th>
      <th scope="col">Shirt</th>
      <th scope="col">Pants</th>
    </tr>
  </thead>
      <tbody>
              {% for d in dress %}
                <tr>

                        <div class="form-check" id="defaultCheck">
                            <td> <input class="form-check-input" name="attire" onclick="checkedform()" type="checkbox" value="{{d[0]}} with {{d[1]}}" id="defaultCheck1"></td>
                  <label class="form-check-label" for="defaultCheck1">
                      <td>{{d[0]}}</td> <td>{{d[1]}}</td>
                  </label>
                </div>
                </tr>
                    {% endfor %}
      </tbody>
    </table>
</div>
    <div class="form-group">
        {{form.submit(class='btn btn-primary',id="submitingbutton")}}
</div>

    </form>
</div>
{% endblock %}