{%extends "base.html"%}
{%block content%}


<div class="container" id="howto">
<div class="row">
    <div class="col-12 col-xs-12" id="how_to_pic" style="padding-top: 100px;">
              <br>
            <div class="card" >
  <div class="card-body">
    <p class="card-text">    <h1>Thanks for coming here. 😘 <br>
      Open your WhatsApp chat group/one-to-one chat.</h1>

</p>
  </div>
            </div>
    </div>

        </div>


    <div class="row">
    <div class="col-12 col-xs-12" id="how_to_pic">
              <br>
            <div class="card" >
  <div class="card-body">
    <p class="card-text">    <h1>Touch Options or ⋮ button</h1>
      <figure class="figure">
  <img src="static/images/Select options.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
</figure>
</p>
  </div>
            </div>
    </div>
        </div>



    <div class="row">
    <div class="col-12 col-xs-12" id="how_to_pic">
              <br>
            <div class="card" >
  <div class="card-body">
    <p class="card-text">    <h1>Touch <b>More</b></h1>
      <figure class="figure">
  <img src="static/images/Select more.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
</figure>
</p>
  </div>
            </div>
    </div>

</div>
        </div>



    <div class="row">
    <div class="col-12 col-xs-12" id="how_to_pic">
              <br>
            <div class="card" >
  <div class="card-body">
    <p class="card-text">    <h1>Touch <b>Export Chat<b> option </h1>
      <figure class="figure">
  <img src="static/images/Select Export.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
</figure>
</p>
  </div>
            </div>
    </div>

        </div>



    <div class="row">
    <div class="col-12 col-xs-12" id="how_to_pic">
              <br>
            <div class="card" >
  <div class="card-body">
      <p class="card-text">    <h1>Touch <b>Without Media</b>. "Include media" won't export a valid .txt file for this app. Be Careful on that. </h1>
      <figure class="figure">
  <img src="static/images/Select Without Media.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
</figure>
</p>
  </div>
            </div>
    </div>

        </div>


</div>

<div class="row">
    <div class="col-12 col-xs-12" id="how_to_pic">
              <br>
            <div class="card" >
  <div class="card-body">
    <p class="card-text">    <h1>Choose any of the option to store your file 💾. </h1>
      <figure class="figure">
  <img src="static/images/Choose.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
</figure>

</p>
  </div>
            </div>
    </div>



<div class="row">
    <div class="col-12 col-xs-12" id="how_to_pic">
              <br>
            <div class="card" >
  <div class="card-body">
    <p class="card-text">    <h1>Upload the file in <a href={{url_for("index")}}>Chatilytikz Home page!</a> Bingo !! That will do the autopsy in few seconds.🤩 </h1>
      <figure class="figure">
  <img src="static/images/Upload.JPG" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
</figure>
      <h1>Don't forget to clear ReCaptcha!! 😉 </h1>
</p>
  </div>
            </div>
    </div>


        </div>

</div>

{% endblock %}