{%extends "base.html"%}
{%block content%}
<div class="container">
<section id="main-content">
      <section class="wrapper">

        <div class="row">


  <div class="card ">
  <div class="card-body">
      <div class="row">

      <div class="col-lg-6 col-sm-12 col-xs-12">
<h1> Ever wondered what is going on in your chat? 🧐
                <br>How many messages sent in your Chat?
                <br>How many media, Emojis shared?
                <br>Who is the Yapper of the group? 🤭
                <br>What is the longest day?
                <br>When will you get instant reply in the chat? 🔥
                <br>Let us see........... </h1>
          <hr class="hr-sucess">
      </div>

      <div class="col-lg-6 col-sm-12 col-xs-12">
<form method="POST" action="" enctype="multipart/form-data">
    {{form.hidden_tag()}}

    {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
        {% for error,mess in messages%}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{error}}</strong>  {{ mess }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

        {% endfor %}
    {% endif %}
    {% endwith %}

   <div class="form-group">
       {% for error in form.chat_file.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{error}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
                {% endfor %}

        {{form.chat_file.label(class="form-group")}}{{form.chat_file(class="form-control-file")}}<br>
       {% for error in form.recaptcha.errors %}
       <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Oho!!</strong>Seems you are a Robot. No? Confirm by checking the below box.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
       {% endfor %}
       <p class="card-text">  <a class="btn" type="button" href={{url_for("howto")}} style="color: white;
    font-size: 13px;
    border: 2px solid white;
    padding: 2px;
    background: black;">How to Use?</a></u></p>
        {{form.recaptcha}}
    <div class="form-group">{{form.submit(class="btn btn-primary")}}</div>
</div>
    </form>
</div>
          </div>
      <div class="row">
          <div class="col-12">
              <div class="alert alert-info alert-dismissible fade show" role="alert">
      <strong>Chill Bro!! We are not storing your data. App reads data directly from your file to create  Pandas DataFrame.</strong>
      <button type="button" class="close" data-dismiss="alert" >

      </button>
    </div>
          </div>
      </div>
</div>
</div>
        </div>
      </section>
</section>
</div>
{% endblock %}