{% extends "base.html" %}
{% block content %}
<div class="jumbotron">

        {% with messages = get_flashed_messages()%}
        {% if messages %}
        {% for mess in messages%}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error}}</strong>  {{ mess }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


        {% endfor %}
    {% endif %}
    {% endwith %}
    <div align="center">
        <h1>This is {{current_user.username | capitalize }}!!</h1>
        <img src="{{url_for('static',filename='profile_pics/'+current_user.profile_image) }}" width="200" height="200">

    </div>



<div class="container" align="center">
    <form method="POST" action="" enctype="multipart/form-data">

            {{form.hidden_tag()}}
<div class="form-group">
        {{form.username.label(class="form-group")}}{{form.username(class="form-control")}}<br>
</div>
        <div class="form-group">
        {{form.email.label(class="form-group")}}{{form.email(class="form-control")}}<br>
        </div>
        <div class="form-group">
        {{form.picture.label(class="form-group")}}{{form.picture(class="form-control")}}<br>

<div class="form-group">
        {{form.submit(class='btn btn-primary')}}
</div>

</div>


</div>

</form>
{% endblock %}