{% extends "base.html"%}
{% block content %}
    <div class="jumbotron" id="headfoot">
        <p> I am just new
            in developing websites. This site is built on flask framework using python.
            Bringing out emotions and
            sharing it by words is one of the greatest
            inventions of humankind. But not everyone has learnt the art of
            communication. I like to write but I don't like travel. So, when I was thinking to create
            a blogging site, I decided, "Why don't we go with
            the thing that we don't like in the first place."

        </p>

        <p>
            This is a blog to share your freaking travel experiences using words, without pics. So please share
            your experiences and let others know the importance of travel.
        </p>
    </div>

{% endblock %}