<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puppy Company Blog</title>
    <link rel = "icon" type = "image/jpeg" href = "/static/Images/Logo.jpeg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/home.css">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav" >
        <div class="row">
            <div class="col-md-auto">
        <a class="nav-item nav-link" href="{{url_for('core.index')}}"><img src="/static/Images/Logo.jpeg" width="200" height="121"></a>
                </div>
            <div class="col-md-auto">
        <h1 class="nav-item nav-link d-inline-block align-left" id="header">Travelly!! </h1>
        <br>
        <h6 class="nav-item nav-link d-inline-block align-left" id="header_tag">A Blog for Logophilic  Hodophiles</h6>
            </div>
            <div class="col">
       <div class="d-inline-block align-right" id="menu">
           <a class="nav-item nav-link" href="{{url_for('core.info')}}">About Page</a>
           <a class="nav-item nav-link" href="{{url_for('core.index')}}">Home</a>

           {% if current_user.is_authenticated %}
        <a class="nav-item nav-link" href={{url_for('users_blueprint.logout')}}>Log out</a>
        <a class="nav-item nav-link" href={{url_for('users_blueprint.account')}}>Account</a>
        <a class="nav-item nav-link" href={{url_for('blog_posts.create_post')}}>Create Post</a>
           {% else %}
         <a class="nav-item nav-link" href={{url_for('users_blueprint.login')}}>Log in</a>
        <a class="nav-item nav-link" href={{url_for('users_blueprint.register')}}>Register Here</a>
           {% endif %}
           </div>
            </div>
            </div>

    </div>
        </nav>


    <div class="container">


{% block content%}

{% endblock %}
</div>

</body>
</html>