{% extends "base.html" %}
{% block content %}

<div class="container">
    {% if flash%}
    {% for mess in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{mess[0] | capitalize }}!</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
        {% endfor %}

    {% endif %}

    <form class="form-group" method="POST" >

            {{form.hidden_tag()}}
<div class="form-group">
        {{form.title.label(class="form-control-label")}}
    {{form.title(class="form-control form-control-lg",value=blog_post.title )}}
    <br>
</div>
        <div class="form-group">
        {{form.text.label(class="form-control-label")}}
            {% set f = form.text.process_data(blog_post.text) %}
            {{form.text(class="form-control form-control-lg postupdate")}}<br>
        </div>

<div class="form-group">
        {{form.submit(class='btn btn-outline-info')}}
</div>
</form>
</div>




{% endblock %}