.w-100 {
    width: 100%!important;
    height: 333px! important;
}
.nav-link {
    display: unset;

}

.navbar-dark .navbar-nav .nav-link {
    color: orange;
}
.text-success {
    color: black !important;
}

.border-success {
    border-color: burlywood !important;
}
#headfoot{
    background-color:#f8eee2 !important;
}
body{
    background-color: burlywood;
}
#header {
    color: darkorange;
    font-style: italic;
    padding-top: 33px;
}
#header_tag {
    font-style: italic;
    padding-left: 8rem;
}

.form-control {
    display: block;
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1.5rem;
}

#menu{
    text-align: right;
    font-size: 1.5rem;

}

.form-group {
    margin-bottom: -1rem;
}
#country_code{
    width : 120px;
}
#mobile{
    width : 150px;
}
#text{
    height: 400px;
    width: 75%;
}


.bg-dark {
    background-color: black !important;
    border-bottom-color: darkorange;
    border-width: 3px;
    border-bottom-style: solid;
}
